
<div class="small-container">
      <div class="row row-2">
        <h2>All Products</h2>
        <select name="" id="">
          <option value="">Default Sorting</option>
          <option value="">Sort by Price</option>
          <option value="">Sort by Popularity</option>
          <option value="">Sort by Rating</option>
          <option value="">Sort by sales</option>
        </select>
      </div>

      <div class="row">
        {{#each productos }}
        <div class="col-4">
          <img src="/assets/images/product-3.jpg" alt="" />
          <h4>{{ nombre }}</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>{{precio}}</p>
        </div>
        {{/each}}
      </div>

      <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&#8594;</span>
      </div>
    </div>

    
<section class="fashion">
    <div class="f-overlay"></div>
    <img src="/assets/img/footer-top-images.jpg" alt="">
    <h2>FASHION NEW</h2>
</section>