<div class="container mx-auto">
    <div class="row mt-2 mb-5">
        <div class="col-md-10 mx-auto">
            <div class="card text-center">
                <div class="card-header" style="color:#fff;background-color: #003b29; background-image: linear-gradient(90deg, #003b29 50%, #00a00b 100%);">Usuarios</div>
                    <div class="card-body">
                        <h5 class="card-title">Usuarios</h5>
                        <a href="/usuarios" class="btn btn-success">GO</a>
                    </div>
                <div class="card-footer text-muted">2 days ago</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto mb-5">
            <div class="card text-center">
                <div class="card-header" style="color:#fff;background-color: #003b29; background-image: linear-gradient(90deg, #003b29 50%, #00a00b 100%);">Usuarios</div>
                    <div class="card-body">
                        <h5 class="card-title">Categorias</h5>
                        <a href="/categorias" class="btn btn-success">Go</a>
                    </div>
                <div class="card-footer text-muted">5 days ago</div>
            </div>
        </div>
        <div class="col-md-6 mx-auto">
            <div class="card text-center">
                <div class="card-header" style="color:#fff;background-color: #003b29; background-image: linear-gradient(90deg, #003b29 50%, #00a00b 100%);">Usuarios</div>
                    <div class="card-body">
                        <h5 class="card-title">Productos</h5>
                        <a href="/productos" class="btn btn-success">Go</a>
                    </div>
                <div class="card-footer text-muted">2 days ago</div>
            </div>
        </div>
    </div>
</div>