<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="background: #343a40;">
                <h4 style="text-align:center;color:#fff">EDITAR USUARIO</h4>
            </div>
            <div class="card-body">
                <form action="/usuario/create" method="POST">
                <div class="form-group">
                    <input type="text" name="nombre" class="form-control" placeholder="Nombre" autofocus required />
                </div>
                <div class="form-group">
                    <input type="email" name="correo" class="form-control" placeholder="Correo Electronico" required />
                </div>
                <div class="form-group">
                    <input type="text" name="password" class="form-control" placeholder="Contraseña" required />
                </div>
                <div class="form-group">
                    <input type="text" name="img" class="form-control" placeholder="imagen" required />
                </div>
                <div class="form-group">
                    <select class="browser-default custom-select" name="rol">
                        <option selected>Tipo de Usuario</option>
                        <option value="ADMIN_ROLE">Admin</option>
                        <option value="USER_ROLE">User</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="browser-default custom-select" name="estado">
                        <option selected>Seleccionar Estado</option>
                        <option value=true>Activo</option>
                        <option value=false>Inactivo</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-success btn-block" type="submit">
                        Agregar
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>

</div>