</div>
    <div class="row mt-2">
        <div class="col-md-8 mx-auto">
            <a href="/categorias/add" class="btn btn-success btn-block">Crear Categoria Nueva</a>
            <br></br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <table class="table table-bordered">
                <thead class="table table-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Usuario</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each categorias }}
                        <tr>
                        <td><strong>{{ nombre }}</strong></td>
                        <td>{{ categoria_usuario.nombre }}</td>
                        <td style="text-align:center;">
                            <a style="margin-bottom:5px;" href="/categorias/edit/{{_id}}" class="btn btn-dark btn-rounded">
                                <i class="fas fa-pen"></i>
                            </a>
                            <form action="/categorias/delete/{{_id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-rounded">
                                <i class="fas fa-trash"></i>
                            </button>
                            </form>
                        </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
</div>