<div class="col-md-12 mx-auto">
    <div class="card text-center">
        <div class="card-header" style="background: #343a40;">
            <h4 style="text-align:center;color:#fff">NUEVA CATEGORIA</h4>
        </div>
        <div class="card-body">
            <form action="/categorias/create" method="POST">
                <div class="form-group">
                    <input type="text" name="nombre" class="form-control" placeholder="Nombre" autofocus required />
                </div>
               <div class="form-group">
                    <select class="browser-default custom-select" name="estado">
                        <option selected>Seleccionar Estado</option>
                        <option value=true>Activo</option>
                        <option value=false>Inactivo</option>
                    </select>
                </div>
                <div class="form-group">
                    
                    <select class="browser-default custom-select" name="usuario">
                         <option selected>Seleccionar Usuario</option>
                        {{#each collecctionUsuario}}
                            <option value={{{_id}}}>{{nombre}}</option>
                        {{/each}}
                    </select>
                      
                </div>
                
                <div class="form-group">
                    <button class="btn btn-success btn-block" type="submit">
                        Agregar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>